<!-- this is use to show item in details -->
<% layout("/layouts/boilerplate") %>

<body>
    <br>
    <div class="card " style="margin-left:450px;">
  <img src="<%= item.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"> <%= item.title%></div>
</div>
<div class="item-info">
<h3>item ID: <%= item._id%></h3>
     <h3>item description: <%= item.description%></h3>
    <h3>category: <%=item.category%></h3>
    <h3>starting Bid price: <%=item.startingPrice.toLocaleString("en-IN")%></h3>
</div>
   
    <form><button class="btn"><a href="/items/<%= item._id%>/edit">edit this item</a></button></form>
    <form method="post" action="/items/<%=item._id%>?_method=DELETE">
        <button class="btn-primary">delete this post</button>
    </form>
</body>
